In [4]:
#!pip install dask[complete]
#!pip install dask-ml

In [13]:
#!pip install graphviz

Collecting graphviz
  Using cached graphviz-0.20.1-py3-none-any.whl (47 kB)
Installing collected packages: graphviz
Successfully installed graphviz-0.20.1

In [1]:
import dask
import dask.dataframe as dd
import dask_ml

Initializing DASK instance

In [2]:
#from dask.distributed import Client

#client = Client(n_workers = 4, threads_per_worker = 1)

Import datasets

In [19]:
dask.datasets.timeseries().head()

                        name    id         x         y
timestamp
2000-01-01 00:00:00   Hannah  1046 -0.723518 -0.334364
2000-01-01 00:00:01   Xavier   992 -0.271904 -0.892154
2000-01-01 00:00:02    Sarah   988  0.254955  0.723734
2000-01-01 00:00:03  Michael   941  0.186864 -0.032053
2000-01-01 00:00:04      Ray   991  0.532549  0.886717

In [10]:
balances=dd.read_csv('databases/balances.csv',encoding='iso-8859-1')
customers=dd.read_csv('databases/customers.csv',encoding='utf-8')
digital=dd.read_csv('databases/digital.csv',encoding='utf-8')
liabilities=dd.read_csv('databases/liabilities.csv',encoding='utf-8')
movements=dd.read_csv('databases/movements.csv',encoding='utf-8')

In [3]:
balances.balance_amount.head()

0    3.4051
1    3.4003
2    3.0592
3    2.8013
4    2.9850
Name: balance_amount, dtype: float64

Renamed 'product_1' and 'product_2' (repeated name)

In [5]:
liabilities=liabilities.rename(columns={'product_1':'product_1_lia','product_2':'product_2_lia'})

Attrition information up to 'period_6'

In [26]:
u_train=dd.read_csv('datasets/universe_train.csv')
u_train['train']=1

In [11]:
balances.persist().compute()

,month,ID,type,product,entity,balance_amount,days_default,period
0,11,c844ef92b32ec94baaf565a3d22cfa20fd1544a0f8efab...,type_7,product_2,entity_2,3.4051,5.0,period_5
1,10,c817cb3a37a6b640304e87fafd7cd8569bfffb650a5aa3...,type_7,product_2,entity_1,3.4003,5.0,period_5
2,6,1d1f726d844c5a343cca1bbfd0c2b869559f5910772c5e...,type_7,product_2,entity_5,3.0592,5.0,period_5
3,6,7c77a3fd230db16988cb2e6ca23779c756f86895dfe254...,type_7,product_2,entity_2,2.8013,5.0,period_5
4,11,a8702fb4fbdcb735619d6fbd0a5fed46096cdaba80ea35...,type_7,product_2,entity_2,2.9850,5.0,period_5
...,...,...,...,...,...,...,...,...
579905,10,7952426c2251dcab1841046d9ba49e8b3d60342bc4381a...,type_3,product_2,entity_2,3.6418,0.0,period_2
579906,10,3592e8d69980501ef7a43677b85159d0e6fc295bea65e5...,type_3,product_2,entity_2,3.3982,0.0,period_2
579907,7,e396c97349ecf10cf524da133ab66a6656fabfe9de31f0...,type_3,product_2,entity_2,3.4423,0.0,period_2
579908,2,8cb2928db5f38eb3274d87056e57bfe2d9b8db9d1c47f0...,type_3,product_2,entity_2,3.2748,0.0,period_2
579909,1,6253ca11d4aaf18514abfec8cf6ab60cd133400bff6b9b...,type_3,product_2,entity_2,2.6282,0.0,period_2

In [5]:
df=balances.head()
result_df = df.compute()

AttributeError: 'DataFrame' object has no attribute 'compute'